In [311]:
import pandas as pd
import sqlalchemy as db

In [312]:
df = pd.read_excel("../COVID-19-geographic-disbtribution-worldwide-2020-12-14.xls")

In [313]:
df.shape

(61900, 12)

In [314]:
df.describe()

,dateRep,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,61900,61900.000000,61900.000000,61900.000000,61900.000000,61900.000000,6.177700e+04,59021.000000
mean,2020-07-17 19:05:51.508885248,15.628934,7.067157,2019.998918,1155.147237,26.055460,4.098770e+07,66.320586
min,2019-12-31 00:00:00,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02,-147.419587
25%,2020-05-07 00:00:00,8.000000,5.000000,2020.000000,0.000000,0.000000,1.293120e+06,0.757526
50%,2020-07-20 00:00:00,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06,6.724045
75%,2020-10-02 00:00:00,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07,52.572719
max,2020-12-14 00:00:00,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09,1900.836210
std,NaN,8.841582,2.954776,0.032882,6779.224479,131.227055,1.531294e+08,162.329240

In [315]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [316]:
df_dupolicate = df.duplicated()
df_dupolicate

0        False
1        False
2        False
3        False
4        False
         ...
61895    False
61896    False
61897    False
61898    False
61899    False
Length: 61900, dtype: bool

In [317]:
df_null = df.isnull()
df_null [df[df.isnull()]]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
61895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [333]:
df.dropna(inplace=True, how='all')

In [334]:
df.shape

(61900, 12)

In [320]:
df.isnull().any()

dateRep                                                       False
day                                                           False
month                                                         False
year                                                          False
cases                                                         False
deaths                                                        False
countriesAndTerritories                                       False
geoId                                                          True
countryterritoryCode                                           True
popData2019                                                    True
continentExp                                                  False
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000     True
dtype: bool

In [321]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  datetime64[ns]
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 5.7+ MB

In [322]:
df.shape

(61900, 12)

In [323]:
columns_any_null = ['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'popData2019', 'geoId', 'countryterritoryCode']
df[columns_any_null]

,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,popData2019,geoId,countryterritoryCode
0,9.013779,38041757.0,AF,AFG
1,7.052776,38041757.0,AF,AFG
2,6.868768,38041757.0,AF,AFG
3,7.134266,38041757.0,AF,AFG
4,6.968658,38041757.0,AF,AFG
...,...,...,...,...
61895,NaN,14645473.0,ZW,ZWE
61896,NaN,14645473.0,ZW,ZWE
61897,NaN,14645473.0,ZW,ZWE
61898,NaN,14645473.0,ZW,ZWE
61899,NaN,14645473.0,ZW,ZWE

In [324]:
df['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'] = df[['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000']].fillna(0)

In [325]:
df['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'].isnull().sum()

0

In [326]:
df['popData2019'] = df[['popData2019']].fillna(0)

In [327]:
df['popData2019'].isnull().sum()

0

In [328]:
df['geoId'] = df[['geoId']].fillna(0)
df['geoId'].isnull().sum()

0

In [329]:
df['countryterritoryCode'] = df[['countryterritoryCode']].fillna('0')

In [330]:
df['countryterritoryCode'].isnull().sum()

0

In [331]:
df.isnull().sum()

dateRep                                                       0
day                                                           0
month                                                         0
year                                                          0
cases                                                         0
deaths                                                        0
countriesAndTerritories                                       0
geoId                                                         0
countryterritoryCode                                          0
popData2019                                                   0
continentExp                                                  0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    0
dtype: int64

In [332]:
df.shape

(61900, 12)